<div class="row">
<p id="notice"><%= notice %></p>

<div class="span9">
  <strong><%= @category.title %></strong>
  </div>
  <p>

</p>

<!-- write out how to show all items in a category -->
<center>
<% @items.each do | item | %>
	<h2><%= item.title %></h2>
	<p><%= item.printprice %> </p>

<% end %>
</center>
</div>
